[submodule "backend"]
	path = backend
	url = https://github.com/Mardiniii/graphql-subscriptions-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/Mardiniii/graphql-subscriptions-frontend
